*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/*add background image and a dark filter over it*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Website/fantasy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/*adjust the flower icon size*/
nav img{
    width: 150px;
}

/* creates the row for the tabs*/
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*add a line under each tab*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*when hovering over, line appears*/
.nav-links ul li:hover::after{
    width: 100%;
}

/* text on screen edits (welcome plus line below)*/
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f8b3f0,
        0 0 82px #f8b3f0,
        0 0 92px #f8b3f0,
        0 0 102px #f8b3f0,
        0 0 151px #f8b3f0;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

/* hides the menu and close icons from big screen*/
nav .fa{
    display: none;
}

/*for the mobile devices*/
@media(max-width: 700px)
    {
    .text-box h1{
        font-size: 35px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 12px;
        color: #fff;
    }
    
    /* creates the pink menu*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f2b1dc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;    /* hides the menu tab*/
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    /* shows the icons*/
    nav .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    /* adds space between icons and txt of tabs*/
    .nav-links ul{
        padding: 30px;

    }
}

/*----------------About Section--------------------*/

.about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* aligns to the center of the page*/
.descr{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 40px;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
}
.about-maria img{
    width: 50%;
}



/*---------------Projects Page--------------------*/

/*adds format and background pic*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Website/phone.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.about-me{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-maria{
    flex-basis: 38%;
    padding: 30px 2px;
}
.about-maria h1{
    padding: 0;
}
.about-maria p{
    padding: 10px 0 20px;
}
/*pink button
.pink-btn{
    border: 1px solid #f495d4;
    background: transparent;
    color: #f495d4;
}
.pink-btn:hover{
    color: #fff;
}
*/

/********************* RESUME TAB  **************************/
.second-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Website/mountains.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.row1,.row2,.row3{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.act{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 18px;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}




/******************** custom scroll bar ****************************/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#bda8f4,#f8b3f0);
    border-radius: 10px;
}