*{
    margin: 0;
    padding: 0;
    font-family: 'Bacasime Antique', serif;
}

/*add background image*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Website/m.png);
    background-position: center;
    background-size: 1522px 842px;
    position: relative;
}

/* adds small header section*/
nav{
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
}

/*adjust the flower icon size
nav img{
    width: 100px;
} */

/* creates the row for the tabs*/
.nav-links{
    flex: 1;
    text-align: right;
}

/*spacing between the link tab names*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

/*add a line under each tab*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*when hovering over, line appears*/
.nav-links ul li:hover::after{
    width: 100%;
}

/* text on screen edits*/
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #4e4d4d;
}
.text-box h1{
    font-family: 'allura', cursive;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

/* hides the menu and close icons from big screen*/
nav .fa{
    display: none;
}

/*for the mobile devices*/
@media(max-width: 700px)
    {
    .text-box h1{
        font-size: 80px;
        text-align: center;
    }
    
    /* creates the pink menu*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f2b1dc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;    /* hides the menu tab*/
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /* shows the icons*/
    nav .fa{
        display: block;
        color:#353434;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    /* adds space between icons and txt of tabs*/
    .nav-links ul{
        padding: 30px;

    }
}

/*----------------About Section--------------------*/

.about-me{
    width: 100%;
    min-height: 100vh;
    background-color: #fff9f5;
    background-size: 1522px 842px;

}

.about-me h1{
    font-size: 55px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.txt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 7%;
}

img{
    max-width: 410px;
    float: left;
    padding-left: 13%;
    margin-right: 50px;
}


/*---------------Projects Page--------------------*/

/*adds format and background pic*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: url(Website/m.png);
    background-position: center;
    background-size: 1536px 430px;
}
.hd1{
    text-align: center;
    padding-top: 60px;
    color: #fcbfd2;
    font-family: 'allura', cursive;
}
.web{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about{
    flex-basis: 38%;
    padding: 30px 2px;
}
.about h1{
    padding: 0;
}
.about p{
    padding: 10px 0 20px;
}
/*pink button
.pink-btn{
    border: 1px solid #f495d4;
    background: transparent;
    color: #f495d4;
}
.pink-btn:hover{
    color: #fff;
}
*/

/********************* SCHOOL TAB  **************************/
.second-header{
    height: 50vh;
    width: 100%;
    background-color: #f0dafa;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #000000;
}
.row1,.row2,.row3{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.act{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 18px;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}






/******************** custom scroll bar ****************************/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#bda8f4,#f8b3f0);
    border-radius: 10px;
}