*{
    margin: 0;
    padding: 0;
    font-family: 'Bacasime Antique', serif;
}

/*add background image*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Website/m.png);
    background-position: center;
    background-size: 1522px 842px;
    position: relative;
}

/* adds small header section*/
nav{
    display: flex;
    padding: 3.5% 6%;
    justify-content: space-between;
    align-items: center;
}

/*adjust the flower icon size
nav img{
    width: 100px;
} */

/* creates the row for the tabs*/
.nav-links{
    flex: 1;
    text-align: right;
}

/*spacing between the link tab names*/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}
.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

/*add a line under each tab*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*when hovering over, line appears*/
.nav-links ul li:hover::after{
    width: 100%;
}

/* text on screen edits*/
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #4e4d4d;
}
.text-box h1{
    font-family: 'allura', cursive;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

/* hides the menu and close icons from big screen*/
nav .fa{
    display: none;
}


/*----------------About Section--------------------*/

.about-me{
    width: 100%;
    min-height: 100vh;
    background-color: #fff9f5;
    background-size: 1522px 842px;

}

.about-me h1{
    font-size: 55px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.txt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 7%;
}

img{
    max-width: 410px;
    float: left;
    padding-left: 13%;
    margin-right: 50px;
}


/*---------------Projects Page--------------------*/

/*adds format and background pic*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: url(Website/clo.jpg);
    background-position: center;
    background-size: 1545px 595px;
}
/* cursive font on title, pink neon effect */
.hd1 h1{
    font-family: 'allura', cursive;
    font-size: 70px;
    text-align: center;
    padding-top: 25px;
    color: #ffffff;
    text-shadow:
      0 0 7px #fd3ec4,
      0 0 10px #ffa0e3,
      0 0 21px #ffa0e3,
      0 0 42px #ffa0e3,
      0 0 82px #ffa0e3,
      0 0 92px #ff40a3,
      0 0 102px #ffffff,
      0 0 151px #ffffff;
}
.about .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7%;
    padding-right: 7%;
}
.about .box-container .w{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid #fedeff;
    position: relative;
    background-color: #ffeaf8;
}
.about .box-container .w h2{
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    color: #353434;
}
.about .box-container .w p{
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: #353434;
}
.about{
    flex-basis: 38%;
    padding: 30px 2px;
    height: 45vh;
}
.about h1{
    padding: 0;
}
.about p{
    padding: 10px 0 20px;
}
/*pink button
.pink-btn{
    border: 1px solid #f495d4;
    background: transparent;
    color: #f495d4;
}
.pink-btn:hover{
    color: #fff;
}
*/

/********************* SCHOOL TAB  **************************/
.second-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.592), rgba(255, 227, 247, 0.351)), url(Website/white.jpg);
    background-position: center;
    background-size: 1550px 995px;
    color: #000000;
}
/*effects for title*/
.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0 8px 9px #50007a, 0px -2px 1px #7a00bc;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    position: absolute;
    padding: 100px 200px;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
  }
  /*small boxes for each row*/
.tt{
    font-size: 25px;
    text-align: center;
    padding-top: 4%;
}
.activities{
    flex-basis: 38%;
    padding: 30px 2px;
}
.activities .row1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
}
.activities .row1 .act{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid #f8e4ffba;
    position: relative;
    background-color: #f8e4ff9e;
    padding-bottom: 1%;
}
.activities .row1 .act h2{
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353434;
}
.activities .row1 .act p{
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: #353434;
}

/*row2*/
.activities .row2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    margin-left: 17%;
    margin-right: 17%;
}
.activities .row2 .act{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid #f8e4ffba;
    position: relative;
    background-color: #f8e4ff9e;
    padding-bottom: 1%;
}
.activities .row2 .act h2{
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353434;
}
.activities .row2 .act p{
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: #353434;
}

/*row3*/
.activities .row3{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 10%;
}
.activities .row3 .act{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid #f8e4ffba;
    position: relative;
    background-color: #f8e4ff9e;
    padding-bottom: 1%;
}
.activities .row3 .act h2{
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #353434;
}
.activities .row3 .act p{
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: #353434;
}


/******************* mobile devices********************/

@media(max-width: 700px)
    {
    .header{
        background-size: 400px 800px;
    }
    .text-box h1{
        font-size: 55px;
        text-align: center;
    }
    
    /* creates the pink menu*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f2b1dc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;    /* hides the menu tab*/
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /* shows the icons*/
    nav .fa{
        display: block;
        color:#353434;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    /* adds space between icons and txt of tabs*/
    .nav-links ul{
        padding: 30px;

    }
    .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
    }

    /*when hovering over, line appears*/
    .nav-links ul li:hover::after{
    width: 100%;
    }
    .about-me h1{
        font-size: 40px;
        padding-bottom: 17%;
        padding-top: 20%;
    }
    img{
        max-width: 300px;
        align-items: center;
        padding-bottom: 7%;
    }
    .txt{
        font-size: 13px;
        padding-left: 14%;
    }
    .hd1 h1{
        padding-top: 22%;
        font-size: 45px;
    }
    .about .box-container .w h2{
        font-size: 23px;
        text-align: center;
        padding-top: 15px;
        color: #353434;
    }
    .about .box-container .w p{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        color: #353434;
    }
    .milky{
        font-size: 45px;
    }
    .tt{
        font-size: 22px;
        text-align: center;
        padding-top: 4%;
    }
    .activities .row1 .act h2{
        font-size: 23px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
    .activities .row1 .act p{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
    .activities .row2{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 20px;
        margin-left: 1%;
        margin-right: 1%;
    }
    .activities .row2 .act h2{
        font-size: 23px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
    .activities .row2 .act p{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
    .activities .row3 .act h2{
        font-size: 23px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
    .activities .row3 .act p{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        color: #353434;
    }
}

/****************************FOOTER********************************/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #fcc8d182;
    height: auto;
    width: 99vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000000;
}
.foot-cont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/******************** custom scroll bar ****************************/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#bda8f4,#f8b3f0);
    border-radius: 10px;
}